__pycache__/
*.pyc
.env
.venv/
.cache/
.nv/
instraction.txt
*.log
test/*
data/audios/*
data/bad_audios/*
data/vtt/*
data/videos/*
data/vtt_bad/*
data/vtt_fix/*
data/json/*
batch_wordlist/dictionary/*
